/*Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900family=Poppins:wght@600;700&display=swap');

html {
    scroll-behavior: smooth;
}

#content
{
  min-height: 2000px;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

.introduce
{
  font-family: 'Poppins', sans-serif;
  margin-left: 130px;

}

.nickname
{
  font-size: 100px;

}

.nickname2
{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 70px;

}

.name{
  font-size: 30px;
  margin-top: -20px;
}

.mycontents
{
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 600px){
  .nickname
  {
    font-size: 50px;
  }

  .nickname2{
    font-size: 35px;
  }

  .name {
    font-size: 15px;
  }

  .mycontents {
    font-size : 15px;
  }
}
