/*Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

html {
    scroll-behavior: smooth;
}

#header
{
  margin-top: 20px;
  margin-left: 20px;
}

.title
{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
}

a:hover
{
  color: rgb(180,226,183);
}

@media (max-width: 600px) {
  .title
  {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .title
  {
    font-size: 15px;
  }
}

.menu
{
  float: right;
}

button
{
  /*디폴트 스타일 삭제*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: rgb(0,0,0);
}

@media (max-width: 600px) {
  button
  {
    font-size: 15px;
    color: rgb(0,0,0);
  }
}

@media (max-width: 400px) {
  button
  {
    margin-left: 5px;
    font-size: 10px;
    color: rgb(0,0,0);
  }
}

.about:hover
{
  color: rgb(180,226,183);
}

.project:hover
{
  color: rgb(180,226,183);
}

.contact
{
  margin-right: 20px;
}

.contact:hover
{
  color: rgb(180,226,183);
}

@media (max-width: 600px) {
  .contact
  {
    margin-right: 10px;
  }
}

@media (hover: hover) {
  button:hover {
    color: rgb(0,0,0);
  }
}
